<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sainup.png' , size: '150x150') %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">プロフィール情報を入力</h2>
    <%= form_with(model: @profile, local: true) do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# アイコン画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        アイコン画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /アイコン画像 %>
    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">
        活動地域
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :field, class:"items-text", id:"item-name", placeholder:"フィールド名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <%# /商品の詳細 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        フィールド
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :field, class:"items-text", id:"item-name", placeholder:"フィールド名（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        サバゲー歴
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :history, class:"items-text", id:"item-name", placeholder:"サバゲー歴（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        愛銃
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :gun, class:"items-text", id:"item-name", placeholder:"愛銃名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <%# /商品名と商品説明 %>

    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%=f.submit "登録する", class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%= link_to image_tag('sainup.png' , size: '100x100')  %>
    <p class="inc">
      ©︎SABAKATU
    </p>
  </footer>
</div>