<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「SABAKATU」帯部分 %>
  <div class='title-contents'>
    <h1 class='service-title'>
      サバゲー総合アプリサイト
    </h1>
    <p class='service-subtitle'>
      SABAKATU
    </p>
    <p class='service-explain'>
      非日常の体験をしよう！
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# sa部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      content
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "field.jpeg", class:"list-pict" %>
        <p class='reason-list-text'>
          フィールド
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shop.jpeg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ショップ
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "Photo.jpeg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ピクチャ
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "community.jpeg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          コミュ二ティ
        </h3>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      サバゲー初心者ガイド
    </h2>
    <p class='ad-explain'>
      『サバゲーをしてみたいげど何が必要なんだろう』
    </p>
    <p class='ad-explain'>
      これさえあれば、すぐにサバゲーを始めれます！
    </p>
    <p class='ad-explain'>
      気軽にサバゲーを体験してみよう！
    </p>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      サバゲーに必要なモノ
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "goggle.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          ゴーグル
        </h3>
        <p class='feature-list-description'>
          失明の危険があるので、<br>目は絶対に保護しよう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "gan.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          エアーガン、電動ガン
        </h3>
        <p class='feature-list-description'>
          自分の好きなモノで遊ぼう<br>（レンタルも有ります）
        </p>
      </li>
      <li class='list'>
        <%= image_tag "huku.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          衣服
        </h3>
        <p class='feature-list-description'>
          動きやすい服を選ぼう<br>（ジャージでもOK)
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップピクチャー</h2>
    <div class="subtitle" >
      最新投稿写真
    </div>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "imag.jpeg", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "投稿者名" %>
          </h3>
          <div class='item-price'>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>